//color
$white: #ffffff;
$celestial: #a0c5db;
$white-smoke: #f4f4f4;
//text color
$color-title: #363636;
$color-text: #383838;
$color-text-slider: #4e4e4e;
$color-heading: #ababab;
$color-heading-active: #4b94c6;
//font family
$font-norms: "TTNorms", sans-serif;
//font-weight
$normal: 400;
$medium: 500;
$bold: 700;
